@using LingoEngine.Blazor.Movies
@using LingoEngine.Blazor.Sprites
@implements IDisposable

<div style="position:relative;width:@(Movie.WidthPx)px;height:@(Movie.HeightPx)px;">
    @foreach (var s in Movie.VisibleSprites)
    {
        <LingoBlazorSprite Sprite="s" />
    }
</div>

@code {
    [Parameter] public LingoBlazorMovie Movie { get; set; } = default!;

    protected override void OnInitialized()
    {
        Movie.Changed += OnChanged;
    }

    private void OnChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        Movie.Changed -= OnChanged;
    }
}
