<div @onmousemove:document="Mouse.MouseMove"
     @onmousedown:document="Mouse.MouseDown"
     @onmouseup:document="Mouse.MouseUp"
     @onwheel:document="Mouse.Wheel"
     @onkeydown:document="Key.KeyDown"
     @onkeyup:document="Key.KeyUp">
    @ChildContent
</div>
