<div @onmousemove="Mouse.MouseMove"
     @onmousedown="Mouse.MouseDown"
     @onmouseup="Mouse.MouseUp"
     @onwheel="Mouse.Wheel"
     @onkeydown="Key.KeyDown"
     @onkeyup="Key.KeyUp">
    @ChildContent
</div>
