@inherits AbstBlazorBaseInput
<button @onclick="HandleClick" @onmouseover="HandleMouseOver" @onmouseout="HandleMouseOut" @onmousedown="HandleMouseDown" @onmouseup="HandleMouseUp" disabled="@(_component.Enabled ? null : true)" style="@BuildStyle()">@_component.Text</button>
