@inherits AbstBlazorBaseInput
<button @onclick="HandleClick" @onmouseover="HandleMouseOver" @onmouseout="HandleMouseOut" @onmousedown="HandleMouseDown" @onmouseup="HandleMouseUp" disabled="@(Enabled ? null : true)" style="@BuildStyle()">@Text</button>
